@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  background-color: #191919;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#workspace::before {
  content: "";
  position: absolute;
  left: var(--workspace-left, 0px);
  top: var(--workspace-top, 0px);
  width: var(--workspace-width, 100vw);
  height: var(--workspace-height, 100vh);
}
